<table class='table'>
    <caption><h3>Клиенты по предварительной записи</h3></caption>
    <thead>
        <tr>
            <th>Имя</th>
            <th>Телефон</th>
            <th>Дата и время записи</th>
            <th>Парикхмахер</th>
            <th>Цвет для покраски</th>
        </tr>
    </thead>
    <tbody>
        <% @results.each do |row| %>
            <tr>
                <td><%= row['name'] %></td>
                <td><%= row['phone']%></td>
                <td><%= row['date_stamp']%></td>
                <td><%= row['barber']%></td>
                <td><%= row['color']%></td>
            </tr>
        <% end %>
    </tbody>
</table>
